@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&family=Righteous&family=Source+Sans+Pro:wght@600&family=Special+Elite&display=swap");

[data-animation] {
  opacity: 0;
  transition: all 1s;
}

[duration="2s"] {
  opacity: 0;
  transition: all 2s;
}

[data-animation="left"] {
  transform: translate(-150px);
}
[data-animation="right"] {
  transform: translate(150px);
}
.animate {
  opacity: 1;
  transform: translate(0);
}

body {
}

header {
  box-shadow: 2px 2px 4px black;
  position: fixed;
  width: 100%;
  margin: 0;
  z-index: 10;
  top: 0;
}
#main {
  margin-top: 100px;
  min-height: 500px;
  background-image: url(./bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#button {
  min-width: 200px;
  max-width: 150px;
  height: 50px;
  transform: skew(-30deg);
  border: none;
  background-color: black;
  font-weight: 800;
  overflow: hidden;
  padding: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#button p {
  color: white;
  transform: skew(30deg);
  transition: all 500ms;
  font-size: 25px;
  margin: 0;
}

span {
  position: absolute;
  background-color: white;
  opacity: 0;
  height: 100%;
  width: 100%;
  transition: all 800ms;
  transform: translateX(-101%);
  border: none;
}
#button:hover span {
  opacity: 1;

  transform: translateX(0);
}
#button:hover p {
  color: black;
}
#introducao {
  margin-top: 100px;
  height: 500px;
  position: relative;
  background-color: rgb(22, 22, 22);
}
#introducao h2{
 font-family:  'Special Elite', cursive;
}
.leftDesign{
  width: 20px;
  height: 75px;
  opacity: 0;
  background-color: rgb(220, 220, 220);
  position: absolute;
  transform: skew(20deg);
}
.rightDesign{
  width: 20px;
  height: 75px;
  opacity: 0;
  background-color: rgb(220, 220, 220);
  position: absolute;
  transform: skew(-20deg);
}

@media screen and (max-width:600px){
  .leftDesign{
    display: none;
  }
  .rightDesign{
    display: none;
  }
}

